body{font-family:Arial;margin:0;padding:20px;background:#ffe4f0;}
h1{text-align:center;color:#ff3399;}
.student{background:white;padding:15px;margin-bottom:10px;border-radius:12px;display:flex;justify-content:space-between;align-items:center;}
.buttons button{margin-left:5px;}
.clickable{color:#ff3c8a;cursor:pointer;text-decoration:underline;}
.comment{background:white;padding:15px;margin-top:10px;border-radius:10px;}
input,button{padding:12px;font-size:16px;width:100%;margin-top:10px;}